@use './variables.scss';
@use './ui.scss';

html {
  font-family: 'Jost', sans-serif;
  h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5;
    font-weight: 500;
  }

  body {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }
}