@use './variables.scss';

.homeHeroSection {
  display: flex;
  flex-direction: column;
  background-color: variables.$peach;
  position: relative;
  width: 100%;
  height: 843px;
  padding: 24px;
  background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg');
  background-repeat: no-repeat;
  background-position: 0px 90px;
  overflow: hidden;
  a {
   align-self: center;
   z-index: 1;
  }
}