.locationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  .illustration {
    position: relative;
    .circle {
      position: absolute;
      left: 0;
      width: 100%;
    }
    .circle.rotate90deg {
      transform: rotate(-90deg);
    }
    .circle.rotate180deg {
      transform: rotate(-180deg);
    }
  }
  .name {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 24px;
  }
}